// Custom.scss
// Option A: Include all of Bootstrap

$font-family-sans-serif: "indie flower", "inria sans" system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: 'inria sans', sans-serif;
$body-bg: rgba(231, 249, 252, 1.0);
$input-bg: white;
$input-btn-font-family: $font-family-base;
$purple: rgb(216, 221, 248, 1.0);
// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.btn-primary-gray-border-radius-lg {
    @include button-variant(#6c757d, #5a6268, #545b62);
    border-radius: 30px;
    color: white;
}

.h1-sign-in {
    font-family: "indie flower";
}
.underline {
    text-decoration: underline;
}
.bg-purple {
    background-color: $purple;
}